.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rproj
**/*_cache/
**/*_files/
experiment1/analysis_scripts/3a*
experiment1/analysis_scripts/3a*/
experiment1/RL_modeling/recoverability/sim_data/all_sim_data_spaced.mat